:root {
    --primary-color: #0A5AA7;
    --secondary-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 2em;
    margin-left: 2.5%;
    padding:10px
}

nav {
    display: flex;
    flex-direction: row;
    gap: 34%;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    &>img {
        display: flex;
        justify-self: flex-start;
        width: 147.5px;
        height: 59px;
        margin: 0.5em;
        align-self: center;
    }

    &>h3 {
        display: flex;
        justify-self: center;
        font-size: xx-large;
    }
}

.bottom-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}
.progressBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1em;
    justify-content: space-around;


    & > a {
        display: flex;
        align-items: center;
        gap: 20px;

    }


}

.progressBar > button {
    gap: 10px;
    display: flex;
    flex: row;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    font-size: 20px;
    width: 45px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
}

.steps {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 20px;
    width: 45px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
}



.income>form>input {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em 0;
    background: #FFF;
    border: 2px solid #A5A5A5;
    border-radius: 10px;
}

.income>form>input[type="text"] {
    color: #000;
}

#primary-buttons {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
    text-decoration: none;
}

#secondary-button {
    background-color: #55A8F8;
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
    margin-left: 15em;
}

/* Put Flex direction on the split two buttons*/
.income-section1 {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 1em;
    
}

.income-section1>input {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em 0;
    background: #FFF;
    border: 2px solid #A5A5A5;
    border-radius: 10px;
}


.income-section2 {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 1em;
    
}

.income-section2>input {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em 0;
    background: #FFF;
    border: 2px solid #A5A5A5;
    border-radius: 10px;
}



.right-side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}